/* Device Width < 600px */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Catamaran';
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}

body {
  background-color: whitesmoke;
}

header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 10vmax;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-shadow: 3px 3px 2px #00000059;
  font-weight: 700;
}

h1 span {
  color: blueviolet;
  font-size: inherit;
  font-weight: inherit;
}

article {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

article p {
  align-items: justify;
  font-size: 1.1em;
  line-height: 26px;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

figure {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

img {
  width: 50%;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}